<div>
    <ul class="nolinkdec blacklink linkblock">
        <li><a href="/public/index.html">Home</a></li>
        <li><a href="">About Me</a></li>
        <li>
            <div class="dropdown">
                <a href="">Media</a>
                <div class="dropdown-content linedpaper boxshadow">
                    <a href="">Video Games</a><a href="">Museums</a><a href="">Science</a><a href="">Music</a>
                </div>
            </div>
        </li>
        <li><a href="">Blog</a></li>
        <li>
            <div class="dropdown">
                <a href="">Links</a>
                <div class="dropdown-content linedpaper boxshadow">
                    <a href="">Resources</a><a href="">Cool Stuff</a><a href="https://boxd.it/dtiD7" target="_blank"
                        rel="noopener noreferrer">Letterboxd</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div>
    <img src="/public/images/buttons/transflag.png" style="width: 70px; object-fit: contain; margin: 0.25em" />
    <img src="/public/images/buttons/blank%20gay%20pride%20with%20b&w%20border.png"
        style="width: 70px; object-fit: contain; margin: 0.25em" />
    <img src="/public/images/buttons/riversea.png" style="width: 70px; object-fit: contain; margin: 0.25em" />
</div>