.aboutme-content {
    display: grid;
    grid-template: "section section" auto "section section" auto "section section" auto "footer footer";
    grid-template-columns: 50% 50%;
    column-gap: 2em;
}

.aboutme-box {
    background-color: rgba(215, 239, 250, 0.84);
    border-radius: 0.75em;
    padding: 0.75em;
    font-size: 0.75em;
}

.movieimage {
    cursor: pointer;
    border: none; /* Removes default borders in older browsers */
    transition: transform 0.2s; /* Smooth effect for hover */
    width: 100px;
}

.movieimage:hover {
    transform: scale(1.4);
    z-index: 10;
}
.pmargin p {
    margin: 0.25em;
}