* {
    box-sizing: border-box;
}

@font-face {
    font-family: Altima;
    src: url("fonts/Altima/Altima.woff");
}

@font-face {
    font-family: Reactor7;
    src: url("fonts/Reactor7/Reactor7.woff");
}

@font-face {
    font-family: Century;
    src: url("fonts/Century/century_normal.ttf");
}

@font-face {
    font-family: Director;
    src: url("fonts/Director/Director-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Faune;
    src: url("fonts/Faune/Faune-Text_Regular.woff") format("woff");
}

@font-face {
    font-family: Faune-Italic;
    src: url("fonts/Faune-Italic/Faune-Text_Italic.woff") format("woff");
}

@font-face {
    font-family: Glacier-Regular;
    src: url("fonts/Glacier-Regular/Glacier-Regular.woff") format("woff");
}

@font-face {
    font-family: Glacier-Black;
    src: url("fonts/Glacier-Black/Glacier-Black.woff") format("woff");
}

@font-face {
    font-family: Glacier-Bold;
    src: url("fonts/Glacier-Bold/Glacier-Bold.woff") format("woff");
}

.director {
    font-family: Director;
}

.faune {
    font-family: Faune;
}

.glacier {
    font-family: Glacier-Regular;
}

.glacier p {
    font-family: Glacier-Regular;
}

b {
    font-family: Glacier-Bold;
}

.glacier-bold {
    font-family: Glacier-Bold;
}

.glacier-bold u {
    font-family: Glacier-Bold;
}

.glacier-bold i {
    font-family: Glacier-Bold;
}

.times p {
    font-family: Times New Roman;
}

/* body css */

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
    overflow-y: scroll;
}

body::before {
    /*only affects background image */
    content: ""; /* this content property makes a "fake" pseudoelement; essentially a fake box that doesn't exist in the html */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url(images/bgs/boat.jpg), url(images/bgs/pixelclouds.jpg);
    background-color: #78b9f4;
    background-blend-mode: normal, luminosity;
    background-repeat: repeat-y, repeat;
    background-position: right, left;
    background-size: none, cover;
    filter: sepia(55%) grayscale(25%);
}

/* classes */

.container /* ALL content container*/ {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2em;
    filter: sepia(25%);
}

.content {
    /* does not include right aside!!! */
    /* width here determines if the content scales or not!!! px does NOT scale */
    width: 50em;
    min-width: 50em;
    text-align: center;
}

.content > * {
    margin-bottom: 1em;
    margin-top: 1em;
}

.content-1 {
    /* 1st content box */
    display: grid;
    grid-template: "asideLeft nav" 2em "asideLeft main" auto "asideLeft main" auto "footer footer" min-content;
    grid-template-columns: 20% 70%;
    row-gap: 0.25em;
}

.content-2 {
    /* 2nd content box */
    display: grid;
    grid-template: "section section" auto "section section" auto "section section" auto "footer footer";
    grid-template-columns: 50% 50%;
    row-gap: 0.25em;
}

/* structural classes */
/* i want to fix these eventually so they are more uniform and clean & be aware of padding/margin settings 
 * (they may conflict with other padding/margin settings used elsewhere) */

.fitbox {
    /* fitted box to content size*/
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0.05em;
}

.fullbox {
    /* full sized box; i have no idea what this does tbh lol*/
    box-shadow: 3px 3px 5px #666;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.05em;
}

.stickynote {
    background: url(images/websites/back02.gif);
    box-shadow: 3px 3px 5px #666;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    font-size: 70%;
}

.thinbox {
    /* she's so skinny */
    width: 90%;
}

.asidediv {
    justify-self: center;
    margin: 0.5em;
}

.scrolling-contentbox {
    height: 80%;
    overflow-y: auto;
    scrollbar-width: thin;
}

#miniblog > * {
    font-size: 0.9em;
}

#miniblog a img {
    cursor: pointer;
    border: none; /* Removes default borders in older browsers */
    transition: transform 0.2s; /* Smooth effect for hover */
}

#miniblog a img:hover {
    transform: rotate(-2deg) scale(1.1);
}

/* structural flex stuff */

.flex-row {
    /* gives flex in row direction */
    display: flex;
    flex-direction: row;
}

.flex-row > * {
    margin: 0.5em;
}

.flex-column {
    /* gives flex in column direction */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* flavor classes */
.boxshadow {
    box-shadow: 3px 3px 5px #666;
}

.blue-header {
    /* fitted header for text */
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0.05em;
    box-shadow: 0px 2px 5px #666;
    background: url(images/bgs/gingham-baby-blue.jpg);
    background-size: contain;
    font-family: Director;
    font-size: 23px;
}

.blue-header2 {
    /* general header border w/o text */
    width: 100%;
    box-shadow: 0px 2px 5px #666;
    background: url(images/bgs/gingham-robin-egg-blue.jpg);
    background-size: contain;
    height: 2em;
}

.icon01 {
    /* paper clip */
    background: url(/images/websites/icon01.png) no-repeat;
    position: absolute;
    height: 62px;
    right: 10px;
    top: -13px;
    width: 27px;
}

.icon02 {
    /* tape */
    background: url(images/websites/masking01.png) no-repeat center;
    height: 50px;
    position: absolute;
    top: -25px;
    width: 100%;
    filter: sepia(0%);
}

.divider {
    /* divider buttons */
    margin: 0.75em;
}

.divider img {
    /* divider buttons */
    width: 25em;
    filter: sepia(0%);
}

.button {
    /* for button imgs */
    box-shadow: 2px 2px 3px #666;
    width: 100px;
    object-fit: contain;
}

.blinkies {
    /* for blinkie imgs */
    width: 7em;
    object-fit: contain;
}

.stamps img {
    width: 5em;
    object-fit: contain;
}

.button-border {
    border-image-slice: 70 70 70 80;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-repeat: stretch stretch;
    border-image-source: url(images/borders/buttonborder.png);
}

.hover-tilt:hover {
    transform: rotate(-2deg);
}

.hover-shade:hover {
    background-color: rgba(20, 20, 20, 0.15);
}

marquee {
    width: 7em;
    object-fit: contain;
}

marquee > a > img {
    margin: 0.2em;
    box-shadow: 2px 2px 2px;
}

/* backgrounds */

.animwater {
    background-image: url(images/bgs/wavesbg-animated.gif);
    background-size: contain;
}

.bluewhitestripes {
    background-image: url(images/bgs/bluewhitestrips.jpg);
    background-size: contain;
}

.corkboard {
    background-image: url(images/bgs/corkboard.jpg);
}

.ginghamgold {
    background: url(images/bgs/gingham-gold.jpg);
}

.ginghamsilver {
    background: url(images/bgs/gingham-silver.jpg);
}

.globe {
    background: url(images/bgs/globebg.jpg);
    background-size: contain;
}

.linedpaper {
    background-image: url(images/bgs/linedpaper.jpg);
    background-size: cover;
}

.newspaper {
    background: url(images/bgs/newspaperbg.jpg);
}

.squarepaper {
    background: url(images/bgs/squarepaper.jpg);
}

/* semantic elements */

article {
    align-items: center;
    margin: 0.75em;
    font-size: 0.8em;
    padding: 0.25em;
}

main {
    grid-area: main;
}

nav {
    /* makes up structure of nav bar */
    grid-area: nav;
    display: inline-flex;
    padding: 0.25em;
    justify-content: space-between; /* adds space between the links and nav flags */
    flex-wrap: wrap;
}

.aside-left {
    grid-area: asideLeft;
    max-height: 1255px;
}

footer {
    grid-area: footer;
}

/* nav specific elements ie. links and flags */

ul {
    justify-content: center;
    display: inline;
    list-style: none;
}

ul > li {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* adds space between links */
    padding: 0.25em;
    margin: 0.15em;
}

li:hover {
    background-color: rgba(20, 20, 20, 0.15);
}

/* links */
.bluelink {
    a,
    a:visited {
        color: blue;
    }
}

.bluelink button a,a:visited {
    color: blue;
}

.nolinkdec {
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}

.blacklink {
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: black;
    }
}

.linkblock {
    a {
        display: block;
    }
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
    font-size: 0.8em;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    z-index: 10;
}

.dropdown-content a:hover {
    background-color: rgba(20, 20, 20, 0.15);
}

/* music player */
#musicplayer {
    font-size: 18px;
    width: 214px; /* width of the player - make it 100% if you want it to fill your container */
    max-width: 214px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#musicplayer > * {
    padding: 10px;
}

.songtitle,
.track-info,
.now-playing {
    padding: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-media {
    display: flex;
    justify-content: center;
    font-size: 10px !important; /* size of controls */
    width: 100%;
}

.buttons-media div {
    width: 33.3%;
}

.playpause-track,
.prev-track,
.next-track {
    color: #000000; /* color of buttons */
    font-size: 35px !important; /* size of buttons */
}

.volume-icon {
    font-size: 22px !important; /* size of volume icon */
}

.seeking,
.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.now-playing,
/*
.track-info {
    background-color: rgba(167, 222, 226, 0.61);  background color of top two boxes 
    border: dotted 1.5px;
    border-radius: 0.25em;
}
*/

.now-playing {
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none; /* removes default appearance of the tracks */
    width: 100%;
}

input[type="range"]:focus {
    outline: none; /* removes outline around tracks when focusing */
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px; /* thickness of seeking track */
    background: #000000; /* color of seeking track */
}

input[type="range"]::-webkit-slider-thumb {
    height: 10px; /* height of seeking square */
    width: 10px; /* width of seeking square */
    border-radius: 5px; /* change to 5px if you want a circle seeker */
    background: #6a6a6a; /* color of seeker square */
    -webkit-appearance: none;
    margin-top: -3px; /* fixes the weird margin around the seeker square in chrome */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px; /* thickness of seeking track */
    background: #000000; /* color of seeking track */
}

input[type="range"]::-moz-range-thumb {
    height: 10px; /* height of seeking square */
    width: 10px; /* width of seeking square */
    border-radius: 0px; /* change to 5px if you want a circle seeker */
    background: #000000; /* color of seeker square */
    border: none; /* removes weird border around seeker square in firefox */
}

/* different resolutions */

@media (min-width: 1920px) and (max-width: 2560px) {
    body {
        zoom: 130%;
    }
}

@media (max-width: 768px) {
    body::before {
        background-image: url(images/bgs/pixelclouds.jpg);
        background-size: contain;
        background-color: #78b9f4;
        background-blend-mode: normal, luminosity;
        filter: sepia(55%) grayscale(25%);
    }
}

/*wip but it works???*/
/* bg stickers classes */
.bgstickers {
    position: absolute;
}

.bgstickers img {
    position: absolute;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px);
    z-index: 10;
}

.center {
    left: 25%;
}

.left {
    left: -5%;
}

.right {
    right: 25%;
}

.righter {
    right: 10%;
}

.rightest {
    right: 5%;
}

.bottom {
    bottom: -90%;
}
